<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" (click)="toggleMenu()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-th"></i> PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">
      <i class="fa fa-search"></i>
    </a>
    <!-- span class="w3-bar-item">Window: {{windowWidth}}, {{windowHeight}}, Image: {{
    imageHeight}}</span -->
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    <a href="#portfolio" class="w3-bar-item w3-button" onclick="toggleFunction()">PORTFOLIO</a>
    <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button">SEARCH</a>
  </div>
</div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small">Built by </span>Shannon Ware<span class="w3-hide-small"> in Ireland</span></span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">ABOUT ME</h3>
  <p class="w3-center"><em>The Odeyssey of life is the unveiling of destiny</em></p>
  <p>Shannon Ware began computing in the era of Commodore 64 and the Apple II. In high school we learned Pascal on Macs, but instead of going on to C++ programming, he went head-long into the study of Japanese language and culture. After working as a translator, etc., for many years, around 2006 he renewed his interest in programming as a Python hobbyist. Still, the bills were paid working as Japanese language tech support until he entered the George Brown College game design program.</p>
  <!-- p>As a game developer, Shannon chiefly used C# in the Unity environment. Within the past year, I spent a couple of months focused on R scripting in the context of data science. Over the past year other than the time spent R scripting, I have been focused on C programming for the sake of cybersecurity studies, or Bash scripting for fun. </p -->
  <p>Today, Shannon enjoys spinning Angular CLI applications that are fit for purpose. The power of the JavaScript and Node ecosystems is exciting, and every day provides new opportunities to build long lasting applications.</p>
  <div class="w3-row">
    <div class="w3-col m6 w3-center w3-padding-large">
      <p><b><i class="fa fa-user w3-margin-right"></i>Shannon Ware</b></p><br>
      <img src="/assets/IonadBhotaiochtaP1080932.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="There is nothing like voting to make you feel at home." width="500" height="333">
    </div>

    <!-- Hide this text on small devices -->
    <div class="w3-col m6 w3-hide-small w3-padding-large">
      <p>Technology moves forward at a more or less predictable rate. It is also predictable and well known that design does not move forward overall. By 'technology' we mean the increased power of digital devices. Faster processors and bigger memory in the future is a given, but for an ever improving user interface, it is a given that it will not occur.</p>
      <!-- p>The plethora of mass manufactured goods in every sector does much of the work of clawing back the advance of human-centred design. Web and mobile application interface designs are no different. Unlike the steady advance in mobile and web processing power and throughput, we cannot take good user interface design for granted.</p -->
        <p>Nevertheless, user interface design tools are more robust than ever before, and application build tools are delivering on the promise of platform integration. Shannon Ware is proud to offer solutions built with well-established open source technologies. These select technologies are backed by both open source technology communities and major corporations. The technology is more secure, more extensible, and more accessible than ever before.</p>
    </div>
  </div>
  <p class="w3-large w3-center w3-padding-16">Im really good at:</p>
  <p class="w3-wide"><i class="fa fa-mobile"></i>Responsive Web Design</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:95%">95%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>JavaScript</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-desktop"></i>Angular CLI</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
  </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">2</span><br>
    Partners
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">600+</span><br>
    Projects Done*
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">30+</span><br>
    Happy Clients
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">200+</span><br>
    Meetings
  </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min" id="portfolioParallax">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <h3 class="w3-center">DIGITAL WORKS</h3>
  <p class="w3-center"><em>Support your local laboratory</em></p><br>

  <p>*Including all translation, web development, research and maintenance contracts.</p>
  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="/assets/AthenianTraderScreenshot_12Aug2017.jpg" style="width:100%" (click)="portfolioDetail(this)" class="w3-hover-opacity blueLine" alt="AthenianTrader">
    </div>

    <div class="w3-col m3">
      <img src="/assets/SpaceTraderScreenshot13Aug2017.jpg" style="width:100%" (click)="portfolioDetail(this)" class="w3-hover-opacity blueLine" alt="SpaceTrader">
    </div>

    <div class="w3-col m3">
      <img src="/assets/RaycastingScreenshot13Aug2017.jpg" style="width:100%" (click)="portfolioDetail(this)" class="w3-hover-opacity blueLine" alt="Raycasting">
    </div>

    <div class="w3-col m3">
      <img src="/assets/ShannonWareDotComConcrete5_13Aug2017.jpg" style="width:100%" (click)="portfolioDetail(this)" class="w3-hover-opacity blueLine" alt="Concrete5">
    </div>
  </div>

  <!-- div class="w3-row-padding w3-center w3-section">
    <div class="w3-col m3">
      <img src="/w3images/p5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist">
    </div>

    <div class="w3-col m3">
      <img src="/w3images/p6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="My beloved typewriter">
    </div>

    <div class="w3-col m3">
      <img src="/w3images/p7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Empty ghost train">
    </div>

    <div class="w3-col m3">
      <img src="/w3images/p8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sailing">
    </div>
    <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button>
  </div -->
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" src="" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="contactParallax">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
  <h3 class="w3-center">WHERE I WORK</h3>
  <p class="w3-center"><em>I'd love your feedback!</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <!-- div class="w3-col m4 w3-container">
      <!-- Add Google Maps -- >
      <div id="googleMap" class="w3-round-large w3-greyscale" style="width:100%;height:400px;"></div>
    </div -->
    <div class="w3-col m8 w3-panel">
      <div class="w3-large w3-margin-bottom">
        <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Co. Kerry, Ireland<br>
        <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Phone: +353 83-441-0345<br>
        <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: photius@shannonware.com<br>
      </div>
      <!-- p>Swing by for a cup of <i class="fa fa-coffee"></i>, or leave me a note:</p>
      <form action="/action_page.php" target="_blank">
        <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
          </div>
          <div class="w3-half">
            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
          </div>
        </div>
        <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
        <button class="w3-button w3-black w3-right w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </form -->
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <a href="https://www.facebook.com/profile.php?id=690861346" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
    <!-- i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i -->
    <a href="https://www.pinterest.ie/spycebot/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
    <a href="https://twitter.com/spycebot/" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.linkedin.com/in/shannonwaree1re/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a href="https://github.com/spycebot" target="_blank"><i class="fa fa-github-square w3-hover-opacity"></i></a>
  </div>
  <!-- p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p -->
</footer>
